:root {
  --background-light: #F0EFED;
  --accent-color: #82513A;
  --background-secondary: #DBDCDE;
  --accent-dark: #474B3C;
  --background-dark: #383331;
  --text-color: #383331; /* Texto normal sobre fondos claros */
  --text-light: #F0EFED; /* Texto blanco sobre fondos oscuros */
  --font-main: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.logo-container img {
  height: 60px;
  width: auto;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-main);
  background-color: var(--background-light);
  color: var(--text-color);
}

header {
  background-color: var(--background-dark);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


header img {
  height: 50px;
}

nav a {
  color: var(--text-light);
  text-decoration: none;
  margin-left: 2rem;
  font-weight: bold;
  font-size: 1.1rem;
}

nav a:hover {
  color: var(--accent-color);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--background-dark);
}

button {
  background-color: var(--accent-color);
  color: var(--text-light);
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: var(--accent-dark);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 20px;
  text-align: center;
}

.social-icons {
  margin-top: 15px;
}

.social-icons a {
  margin: 0 10px;
  display: inline-block;
}

.social-icons img {
  height: 24px;
  filter: brightness(90%);
  transition: filter 0.3s ease;
}

.social-icons img:hover {
  filter: brightness(120%);
}

